<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <title>Lista de Torcedor</title>
</head>
<body>
    <div id="app">
            <h4>Adicinar Torcedor</h4>
            <span>Nome:</span><input type="text" id="inputNome"/>
            <span>Idade:</span><input type="text" id="inputIdade"/>
            <span>Time:</span><input type="text" id="inputTime"/>
            <button @click="adicionarTorcedor()">Adcionar</button>
            <hr/>
            <h4>Ultimo Tocerdor Cadastrado</h4>
            <template v-if="mostraUltimo">
                <p>{{ ultimoTorcedor }}</p>
            </template>
            <hr/>
            <h4>Torcedores do Bahia</h4>
            <p v-for="dados in flitroTime">{{ dados.nome }}</p>
            <hr/>
            <div>
                <div class="cadastrado" v-if="telaRemove === false">
                    <h4>Torcedores Cadastrado</h4>
                    <p v-for="dados in torcedores">{{dados.nome}}</p>
                </div>
                <div class="removido" v-if="telaRemove === true">
                    <h4>Torcedores Removido</h4>
                    <template v-if="mostraUltimo">
                        <p>{{ mostrarNomeRemovido }}</p>
                    </template>
                </div>
                <hr/>
                <span>Remover:</span><input id="inputNomeRemove" type="text" v-model="nomeRemove" placeholder="Torcedor a ser removido" />
                    <button @click=removerTorcedor()>Remover Torcedor</button> 
            </div>
        </div>
        <script src="./js/script.js"></script>
</body>
</html>